<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"></div>
<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-4">
            <img th:src="@{/image/logo.png}" class="img-responsive" alt=""/>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-5 pull-left">
            <h2>Tables</h2>
        </div>
        <div class="col-md-4 pull-right">
            <button class="btn btn-primary add-instance" id="add-table" data-href="@{/tables/manager}"
                    data-modal-id="table-create-modal">Add Table
            </button>
        </div>
        <div class="table-responsive col-md-10">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Table Name</th>
                    <th>User</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="table: ${tables}" class="instance-wrapper">
                    <td>
                        <input type="text" name="name" th:value="${table.name}" class="form-control" placeholder="Name">
                    </td>
                    <td>
                        <select id="user-assign" class="form-control" th:data-table-id="${table.id}">
                            <option value="-1">Select User</option>
                            <option
                                    th:each="user: ${users}"
                                    th:text="${user.username}"
                                    th:value="${user.id}"
                                    th:selected="${null != table.user && table.user.id.equals(user.id)}"></option>
                        </select>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-danger btn-xs instance-delete" th:data-href="@{'/tables/manager/' + ${table.id}}">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        <a class="btn btn-primary btn-xs edit-instance" th:data-href="@{'/tables/manager/' + ${table.id}}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div th:replace="common/header :: table-create-modal"/>
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
